version: '2'
services:
  back:
    image: barais/correctexam-back
    build:
      context: .
      dockerfile: Dockerfile.build.amd64

    environment:
      - SPRING_PROFILES_ACTIVE=prod,swagger
      - MANAGEMENT_METRICS_EXPORT_PROMETHEUS_ENABLED=true
#      - JHIPSTER_SLEEP=30 # gives time for other services to boot before the application
    restart: always
    ports:
      - 8080
    command: ./application -Dquarkus.http.host=0.0.0.0 -Dquarkus.datasource.username=root -Dquarkus.datasource.password='' -Dquarkus.datasource.jdbc.url=jdbc:mysql://correctexam-mysql:3306/correctexam?useUnicode=true&characterEncoding=utf8&useSSL=false -Dquarkus.http.cors=true   -Dquarkus.http.cors.methods=GET,PUT,POST,DELETE,PATCH,OPTIONS  -Dquarkus.http.cors.headers=accept,origin,authorization,content-type,x-requested-with -Dquarkus.http.cors.exposed-headers=Content-Disposition -Dquarkus.http.cors.access-control-max-age=24H -Dquarkus.mailer.from=olivier.barais@univ-rennes1.fr -Dquarkus.mailer.host=maildev -Dquarkus.mailer.port=25 -Dquarkus.mailer.ssl=false -Djhipster.mail.base-url=http://localhost:9000 -Dquarkus.minio.allow-empty=false -Dcorrectexam.bucketname=correctexam -Dcorrectexam.uses3=true  -Dquarkus.minio.url=http://minio:9000 -Dquarkus.minio.access-key=admin -Dquarkus.minio.secret-key=minioadmin

#    -Dquarkus.mailer.username=USERNAME -Dquarkus.mailer.password=PASS
#-Dquarkus.http.cors.origins=https://correctexam.github.io

  correctexam-mysql:
    extends:
      file: mysql.yml
      service:  correctexam-mysql

  front:
    image: barais/correctexam-front
    build:
      context: .
      dockerfile: Dockerfile.front
    ports:
      - 9000:80 # default mst update the https://github.com/correctexam/corrigeExamFront/blob/main/webpack/environment.js if you change the port
      - 91:90 # phpmyadmin
    volumes:
      -  ./exampleconf/exam.conf:/etc/nginx/conf.d/default.conf
      -  ./exampleconf/myadmin.conf:/etc/nginx/conf.d/myadmin.conf
  myadmin:
    image: phpmyadmin
    container_name: myadmin
    environment:
      -  PMA_HOST=correctexam-mysql
    ports:
      - 80
  maildev:
    image: maildev/maildev
    container_name: maildev
    command: bin/maildev --base-pathname /maildev -w 1080 -s 25
    ports:
      - 1080
      - 25

  minio:
    image: quay.io/minio/minio
    container_name: minio
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - /data/files:/data:rw
    restart: always
    ports:
      - 9010:9000
      - 9090:9090
    command: server /data --console-address ":9090"
