{@fr.istic.domain.User user}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CorrectExam activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="{baseUrl}/favicon.ico" />
</head>
<body>
<p>
    Dear {user.login}
</p>
<p>
    Your CorrectExam account has been created, please click on the URL below to activate it:
</p>
<p>
    <a href="{baseUrl}/account/activate?key={user.activationKey}">Login Link</a>
</p>
<p>
    <span>Regards, </span>
    <br/>
    <em>CorrectExam team.</em>
</p>
</body>
</html>
