apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: correctexam-mysql
  name: correctexam-mysql
spec:
  ports:
    - name: "3306"
      port: 3306
      targetPort: 3306
  selector:
    io.kompose.service: correctexam-mysql
status:
  loadBalancer: {}
